<div class="container">
    <h1 class="display-1 text-center">James' Cipher System</h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="card card-body">
                    <h5 class="card-title text-center">List of Supported Ciphers so far: </h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <h3 class="col-8">Ceasar</h3>
                                <a href="/ceasar" class="btn btn-outline-primary col-4">Cipher</a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <h3 class="col-8">Vigenere</h3>
                                <a href="/vigenere" class="btn btn-outline-primary col-4">Cipher</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg">
                <div class="card card-body">
                    <h5 class="card-title text-center">Source Code:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <h3 class="col-8">Cipher API</h3>
                                <a href="https://github.com/theJMC/cipherAPI" class="btn btn-outline-primary col-4">GitHub</a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <h3 class="col-8">Cipher Web Panel</h3>
                                <a href="https://github.com/theJMC/cipherWeb" class="btn btn-outline-primary col-4">GitHub</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>